*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./imagens/bg-cadastro.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  background-color: #01010D;
}

form{
  width: fit-content; 
  margin: auto;
  text-align: center;
}

fieldset{
  background-color: #21498d34;
  margin-top: 30%;
  width: 300px;
  height: 350px;
  padding-top: 30px;
  padding-bottom: 15px;
  border-radius: 15px;
}

.titulo{
  margin-top: 10px;
  color: white;
  display: flex;
}

.lampada{
  margin-left: auto;
  margin-right: 30px;
}

.titulo img{
  width: 70px;
  padding-left: 30px;
}

.titulo img:hover{
  transform: scale(1.1);
  transition: .3s;
}

.titulo .titulo-cadastrar{
  margin-top: 20px;
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
}

.titulo .titulo-cadastrar:hover{
  transform: scale(1.1);
  transition: .3s;
  cursor: default;
}

#seuNome, #seuEmail, 
#suaSenha, #confirmeSenha{
  width: 200px;
}

#salvar, #refazer{
  width: 109px;
  text-transform: uppercase;
  background-color: #2b2b7126;
  color: rgba(238, 45, 193, 0.472);
  border-style: none;
}

#salvar:hover{
  cursor: pointer;
  background-color: #36368d;
  color: rgb(255, 37, 204);
  transition: .3s;
}

#refazer:hover{
  cursor: pointer;
  background-color: #36368d;
  color: rgb(255, 37, 204);
  transition: .3s;
}

legend{
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

.grupo{
  border: solid white 2px;
}

input{
  background-color: blueviolet;
  color: white; 
  padding: 15px;
  border-style: none;
  border-radius: 5px;
}

input::placeholder{
  color: #c7c7c7;
}